.wrap {
    background: #171919;
    height:100%;
    width:360px;
}

.wrap > * {
    padding-left:20px;
    padding-top:20px;
}

.wrap title {
    display:block;
    font-size:20px;
}

.collapseBtn {
    cursor:pointer;
    width:16px;
    transition:all ease-in 300ms;
}

.collapseBtn:hover {
    filter: brightness(2);
}